:root {
  --background: rgb(40, 40, 40);
  --background-two: rgb(58, 58, 58);
  --font-main: rgb(240, 240, 240);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--background);
  color: var(--font-main);
}

.box-shadow {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.border {
  border: 1px solid white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: inherit;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.container-col {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.space {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#container-main {
  position: relative;
  margin-top: 2rem;
  background-color: var(--background-two);
  width: 600px;
}

.row {
  display: flex;
}

#scores {
  flex-direction: row;
  gap: 4rem;
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.player-score {
  font-size: 1.5rem;
  font-weight: 500;
}

#log {
  height: 3rem;
}

#reset {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 15% auto;
  padding: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.turn-toggle {
  width: 1rem;
}
