body {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
  border: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: block;
  padding: 1rem;
  line-height: 1rem;
  font-family: inherit;
  outline: none;
}

#wrapper {
  margin: auto;
  margin-top: 2rem;
  max-width: 75vw;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 200px;
  color: rgb(3, 11, 46);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 3px 1px 8px rgba(8, 38, 66, 0.2);
  position: relative;
}

.card p {
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
}

.author {
  font-style: italic;
}

.text-red {
  color: red;
}

.read,
.pages {
  font-size: 0.75rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #f7f7f7;
  background-color: #f7f7f7;
  margin: 6rem auto;
  padding: 4rem 2.5rem;
  width: fit-content;
  border-radius: 1rem;
  position: relative;
  transform: scale(0);
  transition: transform 0.3s ease;
}

label {
  display: block;
  font-family: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

option {
  font-family: inherit;
}

.radio-options {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#addButton {
  display: block;
  font-family: inherit;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.read-button {
  width: 12px;
  height: 12px;
  background-color: rgb(18, 170, 18);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.switch-off {
  background-color: rgb(197, 57, 57);
}

.delete-card {
  position: absolute;
  bottom: 1rem;
  left: 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.button-open-modal,
#addButton {
  background: none;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 1px rgba(8, 38, 66, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
}

.button-open-modal:active {
  transform: translate(1px, 1px);
}

#add-book-form > div > label:nth-child(1) {
  margin-right: 10px;
}

.button-container {
  margin: auto;
}

#checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}
