body {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#wrapper {
  margin: auto;
  margin-top: 2rem;
  width: 80vw;
  height: 80vh;
}

.box {
  background-color: #fafafa;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 200px;
  color: rgb(3, 11, 46);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 3px 1px 8px rgba(8, 38, 66, 0.2);
}

.card p {
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
}
